.custom-nav {
    width: 100%;
    z-index: 100;
}

.navbar-brand img {
    width: 100px;
}

h1 {
    padding-top: 50px;
}

.name-header {
    padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .about-text {
      background-color: #f8f9fa !important;
    }
  }

.contact-links a {
    text-decoration: none;
    padding: 0px 10px;
    color: #212529;
}

.mx-6 {
    margin: 0 6.5%;
    min-width: 420px;
}

.contact-links a:hover {
    text-decoration: underline;
    color: rgb(181, 144, 95);
    transition: 0.5s;
}
